#countdown {
  width: 400px;
  height: 100px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

#countdown h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

#countdown p {
  font-size: 18px;
  margin-bottom: 0;
}
.collage {
    display: flex;
    flex-wrap: wrap;
  }
  
  .car {
    width: 25%;
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  
  .car1 {
    background-image: url(car1.jpg);
  }
  
  .car2 {
    background-image: url(car2.jpg);
  }
  
  .car3 {
    background-image: url(car3.jpg);
  }
  
  .car4 {
    background-image: url(car4.jpg);
  }
  
