body {
  font-family: Georgia, sans-serif;
  margin: 0
  padding: 0;
}



 .back {
  background-image: url(matte.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}



header h1 {
    text-shadow: 1px 1px black;
    color: #FFD700;
    text-align: center;
    text-align: center;
    font-family: brush script mt, cursive;
    font-size: 100px;
    margin: 20px 0;
 
}

